:root {
  --lightBrown: #f3eed9;
  --brown: #824936;
  --blackish: #222c2a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Playfair Display", serif;
}

/* headers and paragraphs */
h1,
h2 {
  font-weight: 900;
  text-align: center;
}

h1 {
  font-size: 60px;
  color: var(--brown);
  margin: 0 3em;
}

h2 {
  font-size: 36px;
  padding: 1.5em 0 1em 0;
}

p {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header p {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.5em;
  font-weight: 300;
}

.section__one h2 {
  color: var(--brown);
}

.section__two h2,
.section__three h2 {
  color: var(--lightBrown);
}

/* general */

.container {
  max-width: 1128px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 660px;
  background-color: var(--lightBrown);
}

.row {
  display: flex;
}

.section__one p {
  padding-bottom: 3em;
}

.section__one--p2 {
  margin-left: 2em;
}

.section__two {
  background-color: var(--blackish);
}

.section__two--img {
  padding: 4em 0 4em 3em;
}

.section__three {
  background-color: var(--brown);
}

.section__three--img {
  padding: 4em 3em 4em 0;
}
